<div class="flex items-center h-[60vh] justify-center">
  <div class="flex items-center justify-between">
    <div class="">
      <h1 class="font-bold text-[5rem]">
        Easy Scheduling <span class="text-main">onwards</span>
      </h1>
      <p class="text-[1rem] mt-1">
        Evently helps users schedule meetings/reminders in an efficient manner,
        eliminating the problems of sending emails back and forth so you can
        focus on what matters.
      </p>
      <div class="w-full flex items-center justify-between space-x-5 mt-8">
        <a
          class="text-white text-lg text-center font-bold bg-main rounded-full py-3 w-1/2"
          routerLink="/create"
          >Create an Event</a
        >
        <a
          class="text-black text-center text-lg font-bold bg-white border rounded-full py-3 w-1/2"
          routerLink="/events"
          >View Events</a
        >
      </div>
    </div>
    <div>
      <img
        src="https://images.squarespace-cdn.com/content/v1/511d6cd9e4b04b471a7bdd63/1526309087156-G4WBTB2464PEZ6R7PMDT/20.1-timeline-reminder.png"
        alt=""
        class=""
      />
    </div>
  </div>
</div>
